<div class="container">

<h1>The Online Game of Marbles</h1>
<p>This site is for playing the popular game of Marbles which has been very popular in our family for the past several years.  It was developed in 2020 after the Covid-19 pandemic restrictions limited our ability to play together around the table.  The game is in an early development stage so there are some rough edges to it and likely several bugs in it as well.  You should read the Rules page before playing for the first time.  Please enjoy and send any comments, questions or suggestions to <%= mail_to "wmshockey@gmail.com" %>. </p>
	
	<h2>Log in</h2>

	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	<div class="row">
	  <div class="field col-sm-4">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
	  </div>
	</div>

	<div class="row">
	  <div class="field col-sm-4">
	    <%= f.label :password %><br />
	    <%= f.password_field :password, autocomplete: "current-password" %>
	  </div>
	</div>

	  <% if devise_mapping.rememberable? %>
	    <div class="row">
		    <div class="field col-sm-4">
		      <%= f.check_box :remember_me %>
		      <%= f.label :remember_me %>
		    </div>
	    </div>
	  <% end %>

	<div class="row">
	  <div class="actions col-sm-4">
	    <%= f.submit "Log in" %>
	  </div>
	</div>
	<br>
	<% end %>

	<%= render "users/shared/links" %>

</div>
