<head>
	 <title>Login</title>
</head>

<div class="container">


<h1 id="header">The Online Game of Marbles</h1>
<p>This is a popular game played using marbles that move around a board based on the value of the cards in a players hand.  Check out how to play by looking at the <%= link_to "Help Page", '/welcome/help'%> then Log in or Sign up using the link below. It is free to play.  Have fun!</p>

	<h2>Log in</h2>

	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

		<div class="row">

			<%= f.label :email %><br>
	    	<%= f.email_field :email, autofocus: true, autocomplete: "email" %><br>

		    <%= f.label :password %><br>
		    <%= f.password_field :password, autocomplete: "current-password" %><br>

			<% if devise_mapping.rememberable? %>
			      <%= f.check_box :remember_me %>
			      <%= f.label :remember_me %><br>
			<% end %>

		    <%= f.submit "Log in" %><br><br>
			<%= render "users/shared/links" %>
			<br>
			<div class="text-muted">Please report any issues to <%= mail_to "wmshockey@gmail.com" %>. Thank-you!</div>
			
		</div>

		<br>
		<figure class="row">
			<figcaption>Sample screenshot of the game</figcaption>
			<%= image_tag "marble_game_screenshot1.png", alt: "Marbles Game Screenshot" %>
		</figure>



	<% end %>

</div>
