<body class="container">

	<div class="row">
		<%= image_tag "marbles_logo.png", alt: "Marbles Game Logo", class: "marbles_logo"%>
	</div>
	
	<div class= "row">
		<h1 id="header">Welcome to the Online Game of Marbles</h1>
	</div>


		<h4 class="col-sm-4"><%= link_to 'Show All My Games', '/games'%></h4>
		<div class="col-sm-8"><%= "2020-11-28 NEW FEATURE: The player who plays first after the next deal will be indicated by the triangle symbol \u{25C4} beside their name and will rotate to the next player with each full deck deal.  Plus a few other minor changes."%></div>

	<br><br>

	<% ryteams = @games.map {|g| g.ryteam}.uniq %>
	<% gbteams = @games.map {|g| g.gbteam}.uniq %>
	<% teams = ryteams.concat(gbteams).uniq.sort! %>
	<% current_time = Time.now.to_i%>
	
	<% team_stats = []%>
	<% i = 0%>
	<% teams.each do |t| %> 
		<% @team_games = (@games.select {|g| ( (g.ryteam == t || g.gbteam == t) && g.status=="Finished") } ) %>
		<% if !@team_games.empty?%>
			<% if @team_games[0].ryteam == t %>
				<% player1 = @team_games[0].rplayer%>
				<% player2 = @team_games[0].yplayer%>
			<% else%>
				<% player1 = @team_games[0].gplayer%>
				<% player2 = @team_games[0].bplayer%>
			<% end %>
			<% num_games = @team_games.count()%>
			<% num_wins = (@team_games.select {|g| g.winner == t}).count()%>
			<% num_losses = num_games - num_wins %>
			<% team_stats[i] = [t, player1, player2, num_games, num_wins, num_losses]%>
			<% i = i + 1%>
		<% end %>
	<% end %>

	<% team_stats.sort_by! { |a| -a[4] }%>
	
	<h4>Current Team Standings</h4>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Team</th>
				<th>Players</th>
				<th>Games Played</td>
				<th>Wins</th>
				<th>Losses</td>
			</tr>
		</thead>
	
		<tbody>
			<% team_stats.each do |t| %>
				<% if t[0] != "" %>
					<tr>
						<td><%= t[0]%></td>
						<td><%= t[1]%>, <%= t[2]%></td>
						<td><%= t[3]%></td>
						<td><%= t[4]%></td>
						<td><%= t[5]%></td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>


	<% player_stats = []%>
	<% winning_players = []%>
	<% i = 0%>
	<% @users.each do |u| %> 
		<% player = u.name %>
		<% @player_games = (@games.select {|g| ([g.rplayer, g.yplayer, g.gplayer, g.bplayer].include?(player)) && g.status=="Finished"}) %>
		<% num_games = @player_games.count()%>
		<% wins = 0%>
		<% losses = 0%>
		<% if !@player_games.empty?%>
			<% @player_games.each do |g| %>
				<% if g.winner == g.ryteam %>
					<% winning_players[0] = g.rplayer%>
					<% winning_players[1] = g.yplayer%>
				<% elsif g.winner == g.gbteam%>
					<% winning_players[0] = g.gplayer%>
					<% winning_players[1] = g.bplayer%>
				<% else%>
					<% if (g.yplayer.split(" ")[0] == g.winner) %>
						<% winning_players[0] = g.yplayer %>
					<% elsif (g.rplayer.split(" ")[0] == g.winner) %>
						<% winning_players[0] = g.rplayer%>
					<% elsif (g.gplayer.split(" ")[0] == g.winner)%>
						<% winning_players[0] = g.gplayer%>
					<% elsif (g.bplayer.split(" ")[0] == g.winner)%>
						<% winning_players[0] = g.bplayer%>
					<% end %>
					<% winning_players[1] = "" %>
				<% end %>
				<% if (winning_players.include?(player)) %>
					<% wins = wins + 1%>
				<% else%>
					<% losses = losses + 1%>
				<% end %>
			<% end %>
			<% player_stats[i] = [player, num_games, wins, losses]%>
			<% i = i + 1%>
		<% end %>
	<% end %>

	<% player_stats.sort_by! { |a| -a[2]}%>
	
	<h4>Current Individual Standings</h4>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Player</th>
				<th>Games Played</th>
				<th>Wins</th>
				<th>Losses</th>
			</tr>
		</thead>
		
		<tbody>
			<% player_stats.each do |u| %>
				<tr>
					<td><%= u[0]%></td>
					<td><%= u[1]%></td>
					<td><%= u[2]%></td>
					<td><%= u[3]%></td>
				</tr>
			<% end %>
			<td><%= "Total"%></td>
			<td><%= @games.count %></td>
		</tbody>
	</table>
	
	  <div class="col-sm-6 clipart">
		  <%= image_tag "marble_clip_art.png", alt: "Marbles Clip Art"%>		  				
	  </div>
	  <div class="col-sm-6 clipart">
		  <%= image_tag "card_deck_image.png", alt: "Deck of Cards Clip Art"%>		  				
	  </div>
	  
	  <span class="text-muted col-sm-12">Developed by Warren Shockey in 2020.  Special thanks to beta testers Randy and Lois Schneider, Lenora, Adam, Trina, Merle and Flora Shockey.</span><br>
	  <span class="text-muted col-sm-12">Please send any feedback, comments or questions to <%= mail_to "wmshockey@gmail.com" %>. Thank-you!</span>
	  <br><br>
  
</body>

