<body class="container">

	<div class= "row">
		<h1>Welcome to the Online Game of Marbles</h1>
		<p>Developed by Warren Shockey 2020</p>
	</div>

	<h4 class="col-sm-12"><%= link_to 'Show All Games', '/games'%></h4>
	
	<h3>Current Team Standings</h3>
	<% ryteams = @games.map {|g| g.ryteam}.uniq %>
	<% gbteams = @games.map {|g| g.gbteam}.uniq %>
	<% teams = ryteams.concat(gbteams).uniq.sort! %>
	<div class="col-sm-12">Total games played so far: <%= @games.count()%></div>
	
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Team</th>
				<th>Players</th>
				<th>Games Played</td>
				<th>Wins</th>
			</tr>
		</thead>
		
		<tbody>
			<% teams.each do |t| %>
				<% if t != "" %>
					<tr>
						<td><%= t%></td>
						<% @team_games = (@games.select {|g| g.ryteam == t || g.gbteam == t}) %>
						<% if @team_games[0].ryteam == t %>
							<% @player1 = @team_games[0].rplayer %>
							<% @player2 = @team_games[0].yplayer %>
						<% else %>
							<% @player1 = @team_games[0].gplayer %>
							<% @player2 = @team_games[0].bplayer %>
						<% end %>
						<td><%= @player1%>, <%= @player2%></td>
						<td><%= @team_games.count()%></td>
						<td><%= (@games.select {|g| g.winner == t}).count()%></td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
	
</body>

