<body class="container">

	<div class="row">
		<%= image_tag "marbles_logo.png", alt: "Marbles Game Logo", class: "marbles_logo"%>
	</div>
	
	<div class= "row">
		<h1 id="header">Welcome to the Online Game of Marbles</h1>
		<p>Developed by Warren Shockey 2020</p>
	</div>

	<h4 class="col-sm-12"><%= link_to 'Show All Games', '/games'%></h4>
	<br><br>
	<h4>Current Team Standings</h4>
	<% ryteams = @games.map {|g| g.ryteam}.uniq %>
	<% gbteams = @games.map {|g| g.gbteam}.uniq %>
	<% teams = ryteams.concat(gbteams).uniq.sort! %>
	<div class="col-sm-12">Total games played so far: <%= @games.count()%></div>
	
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Team</th>
				<th>Players</th>
				<th>Games Played</td>
				<th>Wins</th>
			</tr>
		</thead>
		
		<tbody>
			<% teams.each do |t| %>
				<% if t != "" %>
					<tr>
						<td><%= t%></td>
						<% @team_games = (@games.select {|g| g.ryteam == t || g.gbteam == t}) %>
						<% if @team_games[0].ryteam == t %>
							<td>
								<div style="display:inline-block; color:red"><%= @team_games[0].rplayer %></div>
								<div style="display:inline-block; color:yellow"><%= @team_games[0].yplayer %></div>
							</td>
						<% else %>
							<td>
								<div style="display:inline-block; color:green"><%= @team_games[0].gplayer %></div>
								<div style="display:inline-block; color:blue"><%= @team_games[0].bplayer %></div>
							</td>
						<% end %>
						<td><%= @team_games.count()%></td>
						<td><%= (@games.select {|g| g.winner == t}).count()%></td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>

	<figure>
		<img src="/marbles_board.png" alt="Marbles Board" style="width:40%" class="page_image">
		<figcaption>An original Marbles Game board</figcaption>
	</figure>

</body>

