<body class="container splash">

	<div class="row">
		<%= image_tag "marbles_logo.png", alt: "Marbles Game Logo", class: "marbles_logo"%>
	</div>
	
	<div class= "row">
		<h2 id="header" style="color:blue">Welcome to the Online Game of Marbles</h2>
	</div>

		<h4 class="col-sm-4"><strong><%= link_to 'Show All My Games', '/games'%></strong></h4>
		<div class="col-sm-8 text-info bg-info">Update 2021-03-18: Show scores only for matches the player is a participant in.</div>

	<br><br>

	<% ryteams = @games.map {|g| g.ryteam}.uniq %>
	<% gbteams = @games.map {|g| g.gbteam}.uniq %>
	<% teams = ryteams.concat(gbteams).uniq.sort! %>
	<% current_time = Time.now.to_i%>
	<% current_games = Game.all.where("updated_at > ?", 2.minutes.ago) %>

	<div style="font-style: italic"><%= "Games currently in progress:  #{current_games.count}"%></div>
	
	<% mygames = @games.select {|g| [g.rplayer, g.yplayer, g.bplayer, g.gplayer].include?(@user_name)} %>
	<% team_matchups = [] %>
	<% i = 0 %>
	<% mygames.each do |m| %>
		<% if m.ryteam != "" && m.gbteam != "" %>
			<% team_matchups.push([m.ryteam, m.gbteam, 0, 0])%>
			<% i = i + 1 %>
		<% end %>
	<% end %>
	<% team_matchups = team_matchups.uniq.sort! %>
	<% i = 0 %>
	<% while i < team_matchups.length do %>
		<% match_games = mygames.select {|g| g.ryteam==team_matchups[i][0] && g.gbteam==team_matchups[i][1]} %>
		<% ry_gamewins = match_games.select {|g| g.winner == team_matchups[i][0]} %>
		<% gb_gamewins = match_games.select {|g| g.winner == team_matchups[i][1]} %>
		<% team_matchups[i][2] = ry_gamewins.count() %>
		<% team_matchups[i][3] = gb_gamewins.count() %>
		<% i = i + 1 %>		
	<% end %>

	<% team_stats = []%>
	<% i = 0%>
	<% teams.each do |t| %> 
		<% @team_games = (@games.select {|g| ( (g.ryteam == t || g.gbteam == t) && g.status=="Finished") } ) %>
		<% if !@team_games.empty?%>
			<% if @team_games[0].ryteam == t %>
				<% player1 = @team_games[0].rplayer%>
				<% player2 = @team_games[0].yplayer%>
			<% else%>
				<% player1 = @team_games[0].gplayer%>
				<% player2 = @team_games[0].bplayer%>
			<% end %>
			<% num_games = @team_games.count()%>
			<% num_wins = (@team_games.select {|g| g.winner == t}).count()%>
			<% num_losses = num_games - num_wins %>
			<% team_stats[i] = [t, player1, player2, num_games, num_wins, num_losses]%>
			<% i = i + 1%>
		<% end %>
	<% end %>
	<% team_stats.sort_by! { |a| -a[0] }%>
	

	<h4>Score Board</h4>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Teams</th>
				<th>Games Played</th>
				<th>Score</th>
			</tr>
		</thead>
		
		<tbody>
			<% i = 0 %>
			<% while i < team_matchups.length do %>
				<tr>
					<% ryteam = team_matchups[i][0] %>
					<% gbteam = team_matchups[i][1] %>
					<% rywins = team_matchups[i][2] %>
					<% gbwins = team_matchups[i][3] %>
					<% num_games = rywins + gbwins %>
					<td><%= ryteam %> vs <%= gbteam %></td>
					<td><%= num_games %></td>
					<td><%= ryteam%>: <%= rywins %> | <%= gbteam %>: <%= gbwins%></td>
				</tr>
				<% i = i + 1 %>
			<% end %>
		</tbody>
	</table>


	<h4>Teams</h4>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Team</th>
				<th>Players</th>
				<th>Games Played</td>
			</tr>
		</thead>
	
		<tbody>
			<% team_stats.each do |t| %>
				<% if t[0] != "" %>
					<tr>
						<td><%= t[0]%></td>
						<td><%= t[1]%>, <%= t[2]%></td>
						<td><%= t[3]%></td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>


	<% player_stats = []%>
	<% winning_players = []%>
	<% i = 0%>
	<% @users.each do |u| %> 
		<% player = u.name %>
		<% @player_games = (@games.select {|g| ([g.rplayer, g.yplayer, g.gplayer, g.bplayer].include?(player)) && g.status=="Finished"}) %>
		<% num_games = @player_games.count()%>
		<% wins = 0%>
		<% losses = 0%>
		<% if !@player_games.empty?%>
			<% @player_games.each do |g| %>
				<% if g.winner == g.ryteam %>
					<% winning_players[0] = g.rplayer%>
					<% winning_players[1] = g.yplayer%>
				<% elsif g.winner == g.gbteam%>
					<% winning_players[0] = g.gplayer%>
					<% winning_players[1] = g.bplayer%>
				<% else%>
					<% if (g.yplayer.split(" ")[0] == g.winner) %>
						<% winning_players[0] = g.yplayer %>
					<% elsif (g.rplayer.split(" ")[0] == g.winner) %>
						<% winning_players[0] = g.rplayer%>
					<% elsif (g.gplayer.split(" ")[0] == g.winner)%>
						<% winning_players[0] = g.gplayer%>
					<% elsif (g.bplayer.split(" ")[0] == g.winner)%>
						<% winning_players[0] = g.bplayer%>
					<% end %>
					<% winning_players[1] = "" %>
				<% end %>
				<% if (winning_players.include?(player)) %>
					<% wins = wins + 1%>
				<% else%>
					<% losses = losses + 1%>
				<% end %>
			<% end %>
			<% winPct = ((wins.to_f/num_games.to_f)*100.0).to_i %>
			<% player_stats[i] = [player, num_games, wins, losses, winPct]%>
			<% i = i + 1%>
		<% end %>
	<% end %>

	<% player_stats.sort_by! { |a| a[0]}%>
	
	<br>
	<h4>Players</h4>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Player</th>
				<th>Games Played</th>
				<th>Wins</th>
				<th>Losses</th>
				<th>Win %</th>
			</tr>
		</thead>
		
		<tbody>
			<% player_stats.each do |u| %>
				<tr>
					<td><%= u[0]%></td>
					<td><%= u[1]%></td>
					<td><%= u[2]%></td>
					<td><%= u[3]%></td>
					<td><%= u[4]%></td>
				</tr>
			<% end %>
			<td><%= "Total"%></td>
			<td><%= @games.count %></td>
		</tbody>
	</table>
	  
	  <div class="row col-sm-12">Developed by Warren Shockey in 2020.  Special thanks to beta testers Randy and Lois Schneider, Lenora, Adam, Trina, Merle and Flora Shockey.  The software is copyright of Phastware Consulting Ltd. and is licensed under GNU GPL v3.  Please send any feedback, comments or questions to <%= mail_to "wmshockey@gmail.com"%>.</div>
	  <div class="row col-sm-12"></div>

  
</body>

