	<div class="row">
		<div class="col-sm-2 top"><%= "Game ID"%> </div>
		<div class="col-sm-10 top"><%= form.number_field :id %></div>
	</div>

	<div class="row">
		<span class="col-sm-2 top"><%= form.label "Hand"%></span>
		<span class="col-sm-2 top"><%= form.text_area :yellowhand %></span>
		<span class="col-sm-2 top"><%= form.text_area :redhand %></span>
		<span class="col-sm-2 top"><%= form.text_area :greenhand %></span>
		<span class="col-sm-2 top"><%= form.text_area :bluehand %></span>
	    <span class="col-sm-2"></span>
	</div>

	<div class="row">
		<div class="col-sm-2 top"><%= form.label "Deck"%></div>
		<div class="col-sm-8 top"><%= form.text_area :deck, cols: "104", rows: "2"%></div>
	    <span class="col-sm-2"></span>
	</div>

	<div class="row">
		<div class="col-sm-2 top"><%= form.label "Board"%></div>
		<div class="col-sm-8 top"><%= form.text_area :board, cols: "104", rows: "2"%></div>
	    <span class="col-sm-2"></span>
	</div>

	<div class="row">
		<div class="col-sm-2 top"><%= form.label "Discard Pile"%></div>
		<div class="col-sm-8 top"><%= form.text_area :discardpile, cols: "104", rows: "2"%></div>
	    <span class="col-sm-2"></span>
	</div>


	<div class="row">
		<div class="col-sm-2 top"><%= form.label "Message"%></div>
		<div class="col-sm-8 top"><%= form.text_area :comment, cols: "104", rows: "2"%></div>
		<span class="col-sm-2"></span>
	</div>

	<div class="row">
		<div class="col-sm-2 top"><%= "Screen Coordinates"%> </div>
		<div class="col-sm-10 top"><%= form.text_area :screen, cols: "104", rows: "1"%></div>
	</div>

	<div class="row">
		<div class="col-sm-2 top"><%= "Moved Marbles"%> </div>
		<div class="col-sm-10 top"><%= form.text_area :moved, cols: "104", rows: "1"%></div>
	</div>

	<div class="row">
		<div class="col-sm-2 top"><%= "Winner"%> </div>
		<div class="col-sm-10 top"><%= form.text_area :winner, cols: "104", rows: "1"%></div>
	</div>

	<div class="row">
		<div class="col-sm-2 top"><%= "Plays Made"%> </div>
		<div class="col-sm-10 top"><%= form.number_field :plays %></div>
	</div>

