<div class="container"  style="border:1px solid">
	<br>

	<div class="row border border-primary">
	  <div class="col-sm-2"><%= form.label "Game Name:" %></div>
	  <div class="col-sm-4">		  
	  	<span><%= form.text_field :name, :style => "width:200px" %></span>
	  	<span id="nameselect"><%=form.collection_select :copyid, @games.order(name: :asc), :id, :name, {include_blank: ''}, :style => "width:20px" %></span>
	  </div>
	  <% if current_user.id == 1%>
	  		<div class="col-sm-3"><%= form.label "Status:" %><%= form.text_field :status %></div>
	  <% else %>
	  		<div class="col-sm-3 hidden"><%= form.label "Status:" %><%= form.text_field :status %></div>
	  <% end %>
	</div>
	
	<% if current_user.id == 1%>
		<div class="row border border-primary">
		  	<div class="col-sm-2"><%= form.label "Turn:" %></div><div class="col-sm-1"><%= form.text_field :turn, :size=>"5" %></div>
	  		<div class="col-sm-6 top"><%= @plist%></div>
	  	  	<div class="col-sm-3"><%= form.label "First Turn:" %><%= form.text_field :firstturn, :size=>"5" %></div>	  		  
		</div>
	<% else %>
		<div class="row border border-primary hidden">
		  	<div class="col-sm-2"><%= form.label "Turn:" %></div><div class="col-sm-1"><%= form.text_field :turn, :size=>"5" %></div>
	  		<div class="col-sm-6 top"><%= @plist%></div>
	  	  	<div class="col-sm-3"><%= form.label "First Turn:" %><%= form.text_field :firstturn, :size=>"5" %></div>
		</div>
	<% end %>

	<br>

	<div class="row border text-left">
		<span class="col-sm-2"></span>
		<div class="col-sm-2", style="color:yellow; text-align:left"><%= form.label "Yellow"%></div>
		<div class="col-sm-2", style="color:red; text-align:left"><%= form.label "Red"%></div>
		<div class="col-sm-2", style="color:green; text-align:left"><%= form.label "Green"%></div>
		<div class="col-sm-2", style="color:blue; text-align:left"><%= form.label "Blue"%></div>
	    <span class="col-sm-2"></span>
	</div>

	<div class="row">
		<div class="col-sm-2"><%= form.label "Players"%></div>
		<div class="col-sm-2"><%= form.select :yplayer, @users.collect {|u| [u.name]}, :include_blank => true %></div>
		<div class="col-sm-2"><%= form.select :rplayer, @users.collect {|u| [u.name]}, :include_blank => true %></div>
		<div class="col-sm-2"><%= form.select :gplayer, @users.collect {|u| [u.name]}, :include_blank => true %></div>
		<div class="col-sm-2"><%= form.select :bplayer, @users.collect {|u| [u.name]}, :include_blank => true %></div>
	    <span class="col-sm-2"></span>
	</div>

	<div class="row">
		<div class="col-sm-2"><%= form.label "Team names"%></div>
		<div id="ryteam" class="col-sm-4">		
			<span ><%= form.text_field :ryteam, :style => "width:260px"%></span>
			<span id="ryselect"><%=form.select :selected_ryteam, @teams, {}, :style => "width:20px"%></span>
		</div>
		<div id="gbteam" class="col-sm-4">
			<span><%= form.text_field :gbteam, :style => "width:260px"%></span>
			<span id="gbselect"><%=form.select :selected_gbteam, @teams, {}, :style => "width:20px"%></span>
		</div>
	    <span class="col-sm-2"></span>
	</div>

	<br>
	<div class="row">
		<div class="col-sm-2"><%= form.label "Auto Refresh"%> </div>
		<div class="col-sm-1"><%= form.select :refresh, [["On", 1],["Off", 0]] %></div>
		<div class="col-sm-9 text-muted">Turn automatic refresh off if you are on a slow network</div>
	</div>
	
</div>

	<script>
		$("#ryselect").on("change", function(){
		  str = $("#game_selected_ryteam").val();
		  selected_team = str.substring(0,str.indexOf(":"));
		  selected_yplayer = str.substring(str.indexOf("(")+1, str.indexOf(","));
		  selected_rplayer = str.substring(str.indexOf(",")+1, str.indexOf(")"));
		  $("#game_ryteam").val(selected_team);
		  $("#game_yplayer").val(selected_yplayer);
		  $("#game_rplayer").val(selected_rplayer);
		  $("#game_selected_ryteam").val("");
	  });
	  $("#gbselect").on("change", function(){
		  str = $("#game_selected_gbteam").val();
		  selected_team = str.substring(0,str.indexOf(":"));
		  selected_gplayer = str.substring(str.indexOf("(")+1, str.indexOf(","));
		  selected_bplayer = str.substring(str.indexOf(",")+1, str.indexOf(")"));
		  $("#game_gbteam").val(selected_team);
		  $("#game_gplayer").val(selected_gplayer);
		  $("#game_bplayer").val(selected_bplayer);		  
		  $("#game_selected_gbteam").val("");	
	  });
	  $("#nameselect").on("change", function(){
		 id = $("#game_copyid").val();
		 $.ajax({
			url: "/games/"+id+"/query2",
			dataType: 'json',
			success: function(data) {
				$("#game_name").val(data.name);
				$("#game_yplayer").val(data.yplayer);
				$("#game_rplayer").val(data.rplayer);
				$("#game_gplayer").val(data.gplayer);
				$("#game_bplayer").val(data.bplayer);
				$("#game_ryteam").val(data.ryteam);
				$("#game_gbteam").val(data.gbteam);
			},
			error: function (jqXHR, textStatus, errorThrown) {
				/*alert('ajax error: ' + textStatus + ': ' + errorThrown);*/
			}
		});	
		$("#game_copyid").val("");						  	  	
	  });
	</script>