<body class="container">
<p id="notice"><%= notice %></p>

<h1 id="header">Games</h1>

<table>
  <thead>
    <tr>
      <th class="col-sm-1">Name</th>
      <th class="col-sm-2">Start date</th>
      <th class="col-sm-1">Status</th>
      <th class="col-sm-3">Players</th>
      <th class="col-sm-1">Turn</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
		<% players = game.yplayer+","+game.gplayer+","+game.rplayer+","+game.bplayer %>
		<% player_array = players.split(",") %>
		<% player_array = player_array.compact %>
		<% players = player_array.join(",") %>
        <td class="col-sm-1"><%= game.name %></td>
        <td class="col-sm-2"><%= game.start_date %></td>
        <td class="col-sm-1"><%= game.status %></td>
        <td class="col-sm-3"><%= players %></td>
        <td class="col-sm-1"><%= player_array[(game.turn).to_i] %></td>
        <td class="col-sm-1"><%= link_to 'Show', game %></td>
        <td class="col-sm-1"><%= link_to 'Edit', edit_game_path(game) %></td>
        <td class="col-sm-1"><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
</body>