<body>

	<div>
		<div id="game_id"><%= @game.id %></div>
		<div id="game_name"><%= @game.name %></div>
		<div id="game_ryteam"><%= @game.ryteam %></div>
		<div id="game_gbteam"><%= @game.gbteam %></div>
		<div id="game_rplayer"><%= @game.rplayer %></div>
		<div id="game_yplayer"><%= @game.yplayer %></div>
		<div id="game_gplayer"><%= @game.gplayer %></div>
		<div id="game_bplayer"><%= @game.bplayer %></div>
	</div>

</body>
