<div class="row">
	<h4 class="col-sm-2 text-primary" id="header">Show Game</h4>
	<h4 class="col-sm-3 text-primary"><%= @game.name %></h4>
	<h5 class="col-sm-3"><%= link_to 'Back', games_path%></h5>
	<% if @user_name == @player %>
		<% @button_text = @player + " its your turn - click here to start" %>
		<div class="col-sm-4">
			<%= button_to @button_text, edit_game_path(@game), method: :get, class:'btn-sm btn-primary' %>
		</div>
	<% else %>
			<h5 class = "col-sm-4 text-warning bg-warning blink">
				<%= "Waiting for " + @player + " to make a move."%>
			</h5>
	<% end %>	
</div>

<canvas id="myCanvas" width="1200" height="700" ></canvas>

<body class="container">

<div class="hidden">
	<div id="game_name"><%= @game.name %></div>
	<div id="game_start_date"><%= @game.start_date %></div>
	<div id="game_status"><%= @game.status %></div>
	<div id="game_yplayer"><%= @game.yplayer %></div>
	<div id="game_gplayer"><%= @game.gplayer %></div>
	<div id="game_rplayer"><%= @game.rplayer %></div>
	<div id="game_bplayer"><%= @game.bplayer %></div>
	<div id="game_yellowhand"><%= @game.yellowhand %></div>
	<div id="game_greenhand"><%= @game.greenhand %></div>
	<div id="game_redhand"><%= @game.redhand %></div>
	<div id="game_bluehand"><%= @game.bluehand %></div>
	<div id="game_turn"><%= @game.turn %></div>
	<div id="game_board"><%= @game.board %></div>
	<div id="game_deck"><%= @game.deck%></div>
	<div id="game_discard"><%= @game.discardpile %></div>
	<div id="game_comment"><%= @game.comment %></div>
</div>

</body>



