
<% if @game.yplayer==@user_name || @game.rplayer==@user_name || @game.gplayer==@user_name || @game.bplayer==@user_name%>

	<span class="line2">
		<span class="boardlabel" id="header">Show Game</span>
		<strong><span class="boardlabel">: <%= @game.name %></span></strong>	
	</span>

	<% if @game.status == "Finished"%>
		<span class = "text-success bg-success msgArea">
			<%= "** Congratulations to " + @game.winner + " for winning the game!! **"%>
		</span>
	<% else %>
		<span id="btnArea">
			<% if @user_name == @player %>
				<% @button_text = " Start Turn" %>
				<%= button_to @button_text, play_game_path(@game), method: :get, class:'btn btn-success blinking' %>
			<% else %>
				<span class = "text-warning bg-warning">
					<%= "** Waiting for " + @player + " **"%>
				</span>
			<% end %>
		</span>
	<% end %>

	<body>

	<div id="myTable" width=1400 height=1080>
		<canvas id="myCanvas" width=1400 height=1080></canvas>
	</div>


	<div class="hidden">
		<div id="game_id"><%= @game.id %></div>
		<div id="game_name"><%= @game.name %></div>
		<div id="game_start_date"><%= @game.start_date %></div>
		<div id="game_status"><%= @game.status %></div>
		<div id="game_yplayer"><%= @game.yplayer %></div>
		<div id="game_gplayer"><%= @game.gplayer %></div>
		<div id="game_rplayer"><%= @game.rplayer %></div>
		<div id="game_bplayer"><%= @game.bplayer %></div>
		<div id="game_ryteam"><%= @game.ryteam %></div>
		<div id="game_gbteam"><%= @game.gbteam %></div>
		<div id="game_refresh"><%= @game.refresh %></div>
		<div id="game_yellowhand"><%= @game.yellowhand %></div>
		<div id="game_greenhand"><%= @game.greenhand %></div>
		<div id="game_redhand"><%= @game.redhand %></div>
		<div id="game_bluehand"><%= @game.bluehand %></div>
		<div id="game_turn"><%= @game.turn %></div>
		<div id="game_board"><%= @game.board %></div>
		<div id="game_deck"><%= @game.deck%></div>
		<div id="game_discardpile"><%= @game.discardpile %></div>
		<div id="game_comment"><%= @game.comment %></div>
		<div id="game_screen"><%= @game.screen %></div>
		<div id="game_moved"><%= @game.moved %></div>
		<div id="game_plays"><%= @game.plays %></div>
	</div>			

	</body>

<% else %>

	<span class="msgArea">You are not a player on this game.  Please use the Back button to return to the list of games.</span>
	
<% end %>
