

<span class="fixed_line2_left">
	<span class="boardlabel" id="header">Show Game</span>
	<strong><span class="boardlabel">: <%= @game.name %></span></strong>	
</span>

<span class="lower_left">
	<% if @user_name == @player %>
		<% @button_text = " Start Turn" %>
		<%= button_to @button_text, edit_game_path(@game), method: :get, class:'btn btn-success' %>
	<% else %>
		<span id="msgArea" class = "text-warning bg-warning">
			<%= "** Waiting for " + @player + " **"%>
		</span>
	<% end %>
</span>

<canvas id="myCanvas" width="820" height="800" style="border:4px solid #000000;"></canvas>

<body>

<div class="hidden">
	<div id="game_name"><%= @game.name %></div>
	<div id="game_start_date"><%= @game.start_date %></div>
	<div id="game_status"><%= @game.status %></div>
	<div id="game_yplayer"><%= @game.yplayer %></div>
	<div id="game_gplayer"><%= @game.gplayer %></div>
	<div id="game_rplayer"><%= @game.rplayer %></div>
	<div id="game_bplayer"><%= @game.bplayer %></div>
	<div id="game_ryteam"><%= @game.ryteam %></div>
	<div id="game_gbteam"><%= @game.gbteam %></div>
	<div id="game_yellowhand"><%= @game.yellowhand %></div>
	<div id="game_greenhand"><%= @game.greenhand %></div>
	<div id="game_redhand"><%= @game.redhand %></div>
	<div id="game_bluehand"><%= @game.bluehand %></div>
	<div id="game_turn"><%= @game.turn %></div>
	<div id="game_board"><%= @game.board %></div>
	<div id="game_deck"><%= @game.deck%></div>
	<div id="game_discard"><%= @game.discardpile %></div>
	<div id="game_comment"><%= @game.comment %></div>
</div>

</body>



