<!DOCTYPE html>
<html>
  <head>
    <title>Marbles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
	<meta charset="UTF-8">
	<meta name=”apple-mobile-web-app-capable” content=”yes”>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>

	<div class="line1">

		<% if user_signed_in? %>

				<span style="float: left">Player: &nbsp</span>
				<strong><span id="user_name" style="float: left"><%= current_user.name.split(" ")[0] %></span></strong>
				<span>
					<ul class="navbar-nav">
					  <li class="nav-item"><%= link_to "Home", '/'%></li>
					  <li class="nav-item"><%= link_to 'Games', '/games'%></li>
					  <li class="nav-item"><%= link_to "Help", '/welcome/help'%></li>
					  <li class="nav-item"><%= link_to "Rules", '/welcome/rules' %></li>
					  <li class="nav-item"><%= link_to 'Profile', edit_user_registration_path %></li>
					  <li class="nav-item"><%= link_to "Logout", destroy_user_session_path, method: :delete%></li>
				 	</ul>
				</span>
				<span class="hidden" id="user_theme"><%= current_user.theme %></span>
	  
		<% else %>

			<span>
				<ul class="navbar-nav">
				  <li class="nav-item"><%= link_to "Sign up", new_user_registration_path %></li>
				  <li class="nav-item"><%= link_to "Login", new_user_session_path %></li>
				  <li class="nav-item"><%= link_to "Help", '/welcome/help'%></li>
				  <li class="nav-item"><%= link_to "Rules", '/welcome/rules' %></li>
			  	</ul>
			</span>

		<% end %>

	</div>
	
	<span class="msgArea">
		<span class="text-success bg-success"><%= notice %></span>
		<span class="text-danger bg-danger"><%= alert %></span>
	</span>
	<br>
	
    <%= yield %>
	
  </body>
</html>

