<!DOCTYPE html>
<html>
  <head>
    <title>Marbles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

	<div class="line1 row">



			  <% if user_signed_in? %>
	  			<div class="boardlabel col-sm-1">Player: </div>
				<strong><div class="boardlabel col-sm-2" id="user_name"><%= current_user.name %></div></strong>
				<ul class="navbar-nav col-sm-9">
				  <li class="nav-item"><%= link_to "Home", '/', :class => 'nav-link', :style => "color:red"%></li>
				  <li class="nav-item"><%= link_to 'Games', '/games', :style => "color:red"%></li>
				  <li class="nav-item"><%= link_to "Help", '/welcome/help', :style => "color:red"%></li>
				  <li class="nav-item"><%= link_to "Rules", '/welcome/rules', :class => 'nav-link', :style => "color:red" %></li>
				  <li class="nav-item"><%= link_to 'Profile', edit_user_registration_path, :class => 'nav-link', :style => "color:red" %></li>
				  <li class="nav-item"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link', :style => "color:red" %></li>
			 	</ul>			  
			<% else %>
				<ul class="navbar-nav col-sm-12">
				  <li class="col-sm-6"><%= link_to "Sign up", new_user_registration_path, :class => 'nav-link'  %></li>
				  <li class="col-sm-6"><%= link_to "Login", new_user_session_path, :class => 'nav-link'  %></li>
			  	</ul>

			<% end %>
			
			<div class="navbar-nav col-sm-12">
				<div id="msgArea" class="text-success bg-success"><%= notice %></div>
				<div id="msgArea" class="text-danger bg-danger"><%= alert %></div>
			</div>
	
	</div>
	

	<br>
	
    <%= yield %>
	
  </body>
</html>

