<body class="splash">
	
	<div class="container form_style">

		<h2 id="header">Edit <%= resource_name.to_s.humanize %></h2>

		<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
		  <%= render "users/shared/error_messages", resource: resource %>

		  <div class="row field">
		    <div class="col-sm-2"><%= f.label :email %></div>
		    <div class="col-sm-3"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
			<div class="col-sm-7"></div>
		  </div>
  
		  <div class="row field">
			  <div class="col-sm-2"><%= f.label :name %></div>
			  <div class="col-sm-10"><%= f.text_field :name, autofocus: true %><i> (First and Last)</i></div>
		  </div>

		  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
		    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
		  <% end %>

		  <div class="row field">
		    <div class="col-sm-2"><%= f.label :password %></div>
		    <div class="col-sm-10"><%= f.password_field :password, autocomplete: "new-password" %>
		    <i>(leave blank if you don't want to change it)</i><% if @minimum_password_length %>
		      <em><%= @minimum_password_length %> characters minimum</em><% end %></div>
		  </div>

		  <div class="row field">
		    <div class="col-sm-2"><%= f.label :password_confirmation %></div>
		    <div class="col-sm-3"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></div>
			<div class="col-sm-7"></div>
		  </div>

		  <br>

		  <div class="row field">
		    <div class="col-sm-2"><%= f.label :current_password %></div>
		    <div class="col-sm-10"><%= f.password_field :current_password, autocomplete: "current-password" %>
				<i>(we need your current password to confirm your changes)</i></div>
		  </div>

		  <br>
		  <div class=" row field">
			  <div class="col-sm-2"><%= f.label "Theme" %></div>
			  <div class="col-sm-3"><%= f.select :theme, ["Standard Marbles","Labeled Marbles"], autofocus: true, value:"Standard Marbles" %></div>
			  <div class="col-sm-7"></div>
		  </div>
		  <br>

		  <div class="actions">
		    <%= f.submit "Update" %>
		  </div>
		<% end %>

		<h3>Cancel my account</h3>

		<p>No longer want to play? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

		<%= link_to "Back", :back %>

	</div>

</body>